{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}


<div class="text-center">
<h1 class="my-4">BACKOFFICE</h1>
<div class="alert alert-info">Bienvenue sur votre Backoffice</div>

<a href="{{ path('admin_vehicules') }}" class="col-md-6 btn btn-dark mb-2">Gestion des véhicules</a>
<a href="{{ path('admin_users') }}" class="col-md-6 btn btn-dark mb-2">Gestion des membres</a>
<a href="{{ path('admin_commandes') }}" class="col-md-6 btn btn-dark mb-2">Gestion des commandes</a>
</div>



{% endblock %}
